<div class="mx-4 md:mx-8 lg:mx-auto" (scroll)="onScroll()">
  <div class="flex flex-col items-center space-y-4">
    <!-- <label for="search" class="text-lg font-semibold">Buscar Gifs:</label> -->
    <div class="flex items-center space-x-2">
      <input
        type="text"
        class="border px-2 py-1 rounded w-full max-w-xs"
        id="search"
        [(ngModel)]="searchQuery"
      />
      <button
        (click)="search()"
        class="bg-blue-500 text-white px-4 py-2 rounded"
      >
        Buscar
      </button>
    </div>
  </div>

  <!-- Mostrar círculo de carga si está buscando -->
  <div *ngIf="isSearching" class="flex items-center justify-center mt-4">
    <div class="loader"></div>
    <!-- Añade tu estilo de círculo de carga aquí -->
  </div>

  <!-- Mostrar gifs solo si hay resultados y no está buscando -->
  <div
    *ngIf="!isSearching && gifs.length > 0"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4 mx-auto max-w-7xl"
  >
    <div *ngFor="let gif of gifs" class="rounded overflow-hidden shadow-md">
      <img
        [src]="gif.images.fixed_height.url"
        alt="{{ gif.title }}"
        class="w-full h-auto"
      />
    </div>
  </div>

  <!-- Mostrar mensaje si no hay resultados y no está buscando -->
  <div
    *ngIf="!isSearching && gifs.length === 0 && searchQuery && noResultsMessage"
    class="text-center mt-4"
  >
    {{ noResultsMessage }}
  </div>

  <!-- Indicador de carga al hacer scroll -->
  <div *ngIf="loadingMore" class="flex justify-center items-center mt-4">
    <div class="loader"></div>
    <!-- Añade tu estilo de círculo de carga aquí -->
  </div>
</div>
